html {
  margin: 0;
  box-sizing: border-box;
}
  
body {
  background-color: #c2c2c2;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0;
}

.row {
  margin-bottom: 100px;
}

.logo {
  -webkit-box-shadow: 0px 0px 52px 45px rgba(255,255,255,1);
  -moz-box-shadow: 0px 0px 52px 45px rgba(255,255,255,1);
  box-shadow: 0px 0px 52px 45px rgba(255,255,255,1);
}

h1 {
  margin-bottom: 50px;
}

li {
  list-style: none;
}

iframe {
  max-width: 560px;
  width: 100%;
}

.btn {
  background-color: #234521;
}